@import '@styles/main';

.input {
  @include input(100%);
  color: $gray-600;
  text-align: left;
  cursor: pointer;
}

.mbti {
  color: $black;
  font-weight: 700;
}

.error {
  border-bottom: 1.5px solid $red;
}
