@import 'src/styles/_color.scss';

.profile-box {
  position: relative;
  height: 100%;
  background-color: $gray-700;
  padding: 10px;

  .close-profile {
    display: flex;
    justify-content: flex-end;
    .close-btn {
      font-size: 25px;
      color: $gray-500;
    }
  }

  .profile {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
