@import '@styles/main';

.input-container {
  position: relative;

  .input {
    @include input(100%);
    margin-right: 5px;
  }

  .eye-button {
    position: absolute;
    top: 0;
    right: 10px;
    line-height: 55px;
    font-size: 25px;
    color: $gray-400;
    cursor: pointer;
  }

  .error {
    border-bottom: 1.5px solid $red;
  }
}
