@import '@styles/main';

.my-meeting {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray-250;
  padding: 10px;
  cursor: pointer;

  .my-meeting-info {
    width: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    > :not(:last-child) {
      margin-bottom: 5px;
    }

    .info-heading {
      display: flex;
      align-items: center;

      .date {
        font-size: 12px;
        color: $gray-600;
        white-space: nowrap;
        margin-left: auto;
      }
    }

    .title {
      @include textOverFlow;
      font-size: 15px;
      font-weight: 700;
    }

    .content {
      @include textOverFlow;
      font-size: 14px;
    }
  }
}
