{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "simple-import-sort",
    "unused-imports"
  ],
  "ignorePatterns": ["build/**"],
  "extends": [
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "linebreak-style": 0,
    "no-array-constructor": "error",
    "no-new-object": "error",
    "no-nested-ternary": "error",
    "import/prefer-default-export": 0,
    "prettier/prettier": 1,
    "import/extensions": 0,
    "no-use-before-define": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "no-shadow": 0,
    "dot-notation": "error",
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "react/self-closing-comp": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          // react > @ > ~ > a~z
          ["^react$", "^@", "^[a-z]"],
          // `../` > './'
          ["^~"],
          [
            "^\\.\\.(?!/?$)",
            "^\\.\\./?$",
            "^\\./(?=.*/)(?!/?$)",
            "^\\.(?!/?$)",
            "^\\./?$"
          ],
          // Side effect imports
          ["^\\u0000"]
        ]
      }
    ],
    "simple-import-sort/exports": "error",
    "unused-imports/no-unused-imports": "error"
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
