{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "ignorePatterns": ["build/**"],
  "extends": [
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "linebreak-style": 0,
    "no-array-constructor": "error",
    "no-new-object": "error",
    "no-nested-ternary": "error",
    "import/prefer-default-export": 0,
    "prettier/prettier": 1,
    "import/extensions": 0,
    "no-use-before-define": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "no-shadow": 0,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "react/self-closing-comp": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "array-bracket-spacing": ["error", "always", { "arraysInArrays": false }]
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
