@import '@styles/main';

.state-badge {
  width: fit-content;
  font-size: 11px;
  padding: 3px 6px;
  border-radius: 5px;
  background-color: $gray-200;
  font-weight: 700;
  white-space: nowrap;
}
.rejected {
  color: $primary;
}
.allowed {
  color: $primary-blue;
}
