@import '@styles/color';

.content-box {
  padding: 15px;
  background-color: $white;
  font-size: 16px;
  h2 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
  }

  .title-read-mode {
    border-bottom: 2px solid $gray-300;
    padding: 5px 0;
  }

  .textarea-box {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    textarea {
      font-size: 16px;
    }
  }
}
