@import 'src/styles/_color.scss';

@mixin messageBox($color, $backgroundColor) {
  margin-top: 5px;
  padding: 8px 10px;
  border-radius: 22px;
  font-size: 12px;
  color: $color;
  background-color: $backgroundColor;
}

.name {
  font-size: 12px;
}

.msg {
  &.me {
    @include messageBox($white, $primary);
  }
  &.other {
    @include messageBox($black, $gray-200);
  }
}
