@import '@styles/color';

@mixin messageBox($color, $backgroundColor) {
  margin-top: 5px;
  padding: 8px 10px;
  border-radius: 20px;
  font-size: 12px;
  color: $color;
  background-color: $backgroundColor;
}

.chat-msg {
  margin-left: 5px;
  .name {
    font-size: 12px;
  }

  .msg {
    &.me {
      @include messageBox($white, $primary);
    }
    &.other {
      @include messageBox($black, $gray-200);
    }
  }
}
