.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid lightgray;

  .left-box {
    display: flex;
    align-items: center;

    .profile-image {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      object-fit: cover;
    }

    .text-box {
      margin-left: 12px;

      .title {
        margin-bottom: 3px;
        font-size: 15px;
        font-weight: 600;
      }

      .content {
        font-size: 12px;
      }
    }
  }

  .date {
    align-self: flex-start;
    font-size: 11.5px;
  }
}
