@import '/src/styles/color';
@import '/src/styles/mixin';

.menu {
  @include border-bottom-box(53px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $white;

  .title {
    flex: 9;
    margin-left: 23px;
    font-weight: 700;
    font-size: 14px;
    line-height: 23px;
  }

  .button-container {
    flex: 1;

    .icon {
      font-size: 18px;
    }
  }
}
