@import '@styles/main';

.meeting-header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  .meeting-select {
    width: fit-content;
    margin-right: 20px;
    border: 0;
  }

  .search-bar {
    width: 100%;
    margin: 0;
  }
}
