@import 'src/styles/_color.scss';
@import 'src/styles/mixin';

.item {
  margin: 50px 0 0;
  label {
    font-size: 15px;
    color: $gray-700;
    padding: 10px 0;
  }
  .row {
    position: relative;
    padding: 10px 0;

    .icon {
      padding: 10px 0;
    }
    .info {
      position: absolute;
      right: 0;
      color: $primary;
      font-size: 16px;
      font-weight: 700;
    }
  }
}
