@import 'src/styles/_color.scss';

.profile-box {
  position: relative;
  height: 100%;
  background-color: $gray-700;
  padding: 10px;

  .close-profile {
    display: flex;
    justify-content: flex-end;
    .close-btn {
      font-size: 20px;
      color: $gray-400;
    }
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    margin-top: 80px;
  }
}
