@import 'src/styles/_color.scss';

.basic-section {
  display: flex;
  padding: 0 0 30px 30px;

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    color: $white;

    .user-info {
      display: flex;
      margin-bottom: 2.5px;
      .gender {
        display: flex;
        align-items: center;
        font-size: 22px;
        .male {
          color: $primary-blue;
        }
        .female {
          color: $primary;
        }
      }
    }

    .nick-name {
      font-size: 22px;
    }
    .school-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 16px;
      > span {
        margin: 2.5px 0;
      }
    }
  }
}
