@import '/src/styles/color';
@import '/src/styles/mixin';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: $white;

  .title {
    margin-top: 100px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;

    .email {
      width: 100%;
    }

    .password {
      margin-top: 12px;
      width: 100%;
    }

    .error {
      margin-top: 10px;
    }

    .checkbox {
      margin-top: 20px;
    }

    .submit {
      @include button(100%, none, $primary, $white, 16px);
      margin-top: 20px;
    }
  }

  .links {
    margin-top: 20px;
  }

  .socialLogin {
    margin-top: 40px;
  }

  .kakao-login {
    margin-top: 20px;
  }
}
