.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;

  .title {
    margin-top: 9vh;
  }

  .email {
    margin-top: 50px;
  }

  .error {
    margin-top: 10px;
  }

  .password {
    margin-top: 12px;
  }

  .submit {
    margin-top: 20px;
  }

  .links {
    margin-top: 20px;
  }

  .socialLogin {
    margin-top: 40px;
  }
}
