@import '@styles/main';

$login-element-height: 50px;
$login-element-border-radius: 8px;

@mixin login-input($position) {
  box-sizing: border-box;
  width: 100%;
  height: $login-element-height;
  padding-left: 15px;
  border: 1px solid $gray-300;
  @if $position == up {
    border-radius: $login-element-border-radius
      $login-element-border-radius
      0
      0;
    border-bottom: none;
  } @else if $position == middle {
    border-bottom: none;
  } @else if $position == down {
    border-radius: 0
      0
      $login-element-border-radius
      $login-element-border-radius;
  }
  font-size: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: $white;

  .logo-container {
    margin-top: 12vh;
  }

  .title {
    margin-top: 100px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;

    .email-input {
      @include login-input(up);
    }

    .password-input {
      @include login-input(middle);
    }

    .error {
      margin-top: 10px;
    }

    .checkbox {
      margin-top: 20px;
    }

    .submit-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: $login-element-height;
      color: $white;
      background-color: $primary;
      border-radius: 0 0 $login-element-border-radius
        $login-element-border-radius;
      font-size: 17px;

      .button-logo {
        margin-right: 5px;
      }
    }
  }

  .links {
    margin-top: 20px;
  }

  .socialLogin {
    margin-top: 40px;
  }
}
