@import 'src/styles/_color.scss';
@import 'src/styles/_variables.scss';

.top {
  position: sticky;
  top: 0px;
  padding: 24px 15px 0;
  background-color: $white;
}

.input-title {
  padding-bottom: 15px;
  input {
    font-size: 16px;
  }
}
