@import './color';
@import './_variables.scss';

@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin input($width) {
  width: $width;
  height: 40px;
  font-size: 18px;
  color: $black;
  background-color: $white;
  border: none;
  border-bottom: 2px solid $gray-300;

  &:focus {
    outline: none;
  }
}

@mixin select($width, $height, $iconWidth, $borderBottom) {
  width: $width;
  height: $height;
  font-size: 18px;
  color: $black;
  background-color: $white;
  border: none;
  border-bottom: $borderBottom;
  background-image: url('https://img.icons8.com/fluency-systems-filled/48/9e9e9e/sort-down.png');
  background-repeat: no-repeat;
  background-size: $iconWidth;
  background-position: 98% 50%;
  &:focus {
    outline: none;
  }
}

@mixin inputRange() {
  width: 100%;
  margin: 5px 0;
  cursor: pointer;

  &::-webkit-slider-runnable-track {
    height: 5px;
    border-radius: 5px;
    background-color: #ffd2d5;
    cursor: pointer;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background-color: $white;
    box-shadow: 0 0 1px 1px $gray-400;
    cursor: pointer;
    margin-top: -5px;
  }

  &:focus {
    outline: none;
  }
}

@mixin button($width, $border, $bg, $color, $font-size, $height: 40px) {
  width: $width;
  height: $height;
  border: $border;
  border-radius: 15px;
  background-color: $bg;
  color: $color;
  font-size: $font-size;
  margin: 0 auto;
}

@mixin textOverFlow() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin footer() {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 7px 0px;
  border-radius: $borderBoxRadius $borderBoxRadius 0 0;
  box-shadow: 0 1px 4px $shadow;
  background: $white;
}

@mixin border-bottom-box($height) {
  height: $height;
  border-bottom: 1.5px solid $gray-200;
}

@mixin profile-card($height) {
  height: $height;
  background-color: $white;
  border-radius: 10px;
}

@mixin FadeIn() {
  @keyframes FadeIn {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0%);
    }
  }

  @-webkit-keyframes FadeIn {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0%);
    }
  }

  @-moz-keyframes FadeIn {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0%);
    }
  }
  animation: FadeIn 0.4s ease-out;
}

@mixin FadeOut() {
  @keyframes FadeOut {
    to {
      transform: translateY(100%);
    }
  }

  @-webkit-keyframes FadeOut {
    to {
      transform: translateY(100%);
    }
  }

  @-moz-keyframes FadeOut {
    to {
      transform: translateY(100%);
    }
  }
  animation: FadeOut 0.4s ease-out;
}
