$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
$borderBoxRadius: 12px;
$borderButtonRadius: 6px;
$boardMobileImage: 50px;
$boardDesktopImage: 60px;
$headerShadow: 0px 1px 10px #00000029;
