@font-face {
  font-family: 'Nanum Square Round';
  font-weight: 300;
  src: url('https://cdn.jsdelivr.net/gh/kingyong9169/NanumSquareRound/fonts/NanumSquareRoundL.ttf')
      format('truetype'),
    url('https://cdn.jsdelivr.net/gh/kingyong9169/NanumSquareRound/fonts/NanumSquareRoundL.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/kingyong9169/NanumSquareRound/fonts/NanumSquareRoundL.woff')
      format('woff');
}

@font-face {
  font-family: 'Nanum Square Round';
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/kingyong9169/NanumSquareRound/fonts/NanumSquareRoundR.ttf')
      format('truetype'),
    url('https://cdn.jsdelivr.net/gh/kingyong9169/NanumSquareRound/fonts/NanumSquareRoundR.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/kingyong9169/NanumSquareRound/fonts/NanumSquareRoundR.woff')
      format('woff');
}

@font-face {
  font-family: 'Nanum Square Round';
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/kingyong9169/NanumSquareRound/fonts/NanumSquareRoundB.ttf')
      format('truetype'),
    url('https://cdn.jsdelivr.net/gh/kingyong9169/NanumSquareRound/fonts/NanumSquareRoundB.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/kingyong9169/NanumSquareRound/fonts/NanumSquareRoundB.woff')
      format('woff');
}

@font-face {
  font-family: 'Nanum Square Round';
  font-weight: 800;
  src: url('https://cdn.jsdelivr.net/gh/kingyong9169/NanumSquareRound/fonts/NanumSquareRoundEB.ttf')
      format('truetype'),
    url('https://cdn.jsdelivr.net/gh/kingyong9169/NanumSquareRound/fonts/NanumSquareRoundEB.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/kingyong9169/NanumSquareRound/fonts/NanumSquareRoundEB.woff')
      format('woff');
}
