@import 'src/styles/_color.scss';
@import 'src/styles/mixin';

.row {
  display: flex;
  align-items: flex-end;

  .input {
    flex: 3;
    margin-right: 5px;
  }

  .btn {
    @include button(160px, none, $primary, $white, 16px);
  }

  .error {
    border-bottom: 1.5px solid $red;
  }
}
