@import 'src/styles/_color.scss';
@import 'src/styles/mixin';

.word{
    display: inline-flex;
    padding: 5px 8px;
    margin:  5px;
    border: 1.5px solid $primary;
    border-radius: 15px;
    font-size: 16px;
    background-color: $white;
    align-items: center;

    .close{
        margin-left: 4px;
        color: $gray-500;
    }

    &:hover{
        background-color: $gray-100;
    }
}
