@import 'src/styles/_color.scss';
@import 'src/styles/_mixin.scss';
@import 'src/styles/_variables';

.form{
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px 20px 0 20px;
  height: 100em;
  font-weight: 500;
  background-color: $white;

  h1{
    font-size: 24px;
    font-weight: 500;
  }

  .item{
    position: relative;
    line-height: 20px;
    margin: 30px 0 40px 0;

    label{
      font-size: 18px;
      padding: 10px 0;
    }

    .input{
      @include inputRange();
    }

    .select{
      @include input(100%);
      border: 1.5px solid $gray-400;
      border-radius: 5px;

      &:focus {
        border-color: $primary;
      }
    }

    .error{
      border: 1.5px solid $error;
      box-shadow: 0 0 2.5px 0.2px $error;
    }

    .info{
      position: absolute;
      right: 0;
      color: $primary;
      padding-top: 10px;
      font-size: 16px;
    }
  }
    .next_btn{
      @include button(100%, none, $primary, $white, 20px);
      position: sticky;
      bottom: 10px;
    }
}
