@import 'src/styles/_color.scss';
@import 'src/styles/_mixin.scss';

.form{
  display: flex;
  flex-direction: column;
  padding: 20px 20px 70px 20px;
  background-color: $white;

  h1{
    font-size: 24px;
    font-weight: 500;
  }

  .item{
    position: relative;
    line-height: 20px;
    margin: 30px 0 40px 0;

    label{
      font-size: 18px;
      padding: 10px 0;
    }

    .input{
      @include inputRange();
    }

    .select{
      @include input(100%);
      border: 1.5px solid $gray-400;
      border-radius: 5px;
      padding: 0 10px;

      &:focus {
        border-color: $primary;
      }
    }

    .required{
      color: $red;
    }

    .info{
      position: absolute;
      right: 0;
      color: $primary;
      padding-top: 10px;
      font-size: 16px;
    }
  }

  .footer{
    display: flex;
    justify-content: center;
    padding: 7px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    
    .next_btn{
      @include button(calc(100% - 50px), none, $primary, $white, 20px);

      @media screen and (min-width: 48em){
        width: 720px;
      }
    }
  }
}
