@import 'src/styles/_color.scss';
@import 'src/styles/mixin';

.form{
  position: relative;
  height: 100vh;
  padding: 20px;
  font-weight: 500;
  background-color: $white;

  h1{
    font-size: 24px;
    font-weight: 500;
  }

  .item{
    position: relative;
    height: 60px;
    line-height: 20px;
    margin: 30px 0 40px 0;

    label{
      font-size: 16px;
      padding: 10px 0;
    }

    .row{
      position: relative;
      display: flex;
      text-align: center;

      .input{
        @include input(100%);
        margin-right: 5px;

        &_password{
          @include input(100%);

          &.active{
            border: 1.5px solid $error;
            box-shadow: 0 0 2.5px 0.2px $error;
          }
        }

        &.active{
          border: 1.5px solid $error;
          box-shadow: 0 0 2.5px 0.2px $error;
        }
      }

      .showicon{
        position: absolute;
        right: 20px;
        line-height: 55px;
        font-size: 25px;
        color: $gray-400;
        cursor: pointer;
      }

      .year{
        @include input(30%);
        margin: 0 auto;
      }

      .col{
        @include input(25%);
        margin: 0 auto;
      }

      .error{
        border: 1.5px solid $error;
        box-shadow: 0 0 2.5px 0.2px $error;
      }
    }

    .btn{
      @include button(120px, none, $primary, $white, 16px);
    }

    .gender_btn{
      @include button(148%, 2.5px solid $gray-500, $white, $black, 18px);
      margin: 0 2px;

      &.gender_active{
        border: 2.5px solid $primary;
      }
    }
  }

  .next_btn{
    // @include button(100%, none, $primary, $white, 20px);
    // margin-top: 20px;
    @include button(95%, none, $primary, $white, 20px);
    position: fixed;
    margin: 0 auto;
    bottom: 5px;
    left: 10px;
    right: 10px;
    z-index: 1;
  }
}
