@import 'src/styles/_color.scss';
@import 'src/styles/mixin';

.form {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 50px;
  background-color: $white;

  h1 {
    font-size: 24px;
    font-weight: 700;
  }

  .item {
    position: relative;
    height: 60px;
    line-height: 20px;
    margin: 30px 0 40px;

    label {
      font-size: 16px;
      padding: 10px 0;
    }

    .required {
      color: $red;
    }

    .row {
      position: relative;
      display: flex;
      text-align: center;

      .input {
        @include input(100%);
        margin-right: 5px;
      }

      .encrypt-icon {
        position: absolute;
        right: 20px;
        line-height: 55px;
        font-size: 25px;
        color: $gray-400;
        cursor: pointer;
      }

      .year {
        @include input(30%);
        margin: 0 auto;
      }

      .col {
        @include input(25%);
        margin: 0 auto;
      }

      .error {
        border-bottom: 1.5px solid $red;
      }
    }

    .btn {
      @include button(120px, none, $primary, $white, 16px);
    }

    .gender-btn {
      @include button(148%, 2.5px solid $gray-500, $white, $black, 18px);
      margin: 0 2px;

      &.gender-active {
        border: 2.5px solid $primary;
      }
    }
  }

  .footer {
    @include footer();
    display: flex;
    justify-content: center;

    .next-btn {
      @include button(calc(100% - 50px), none, $primary, $white, 20px);

      @media screen and (min-width: 758px) {
        width: 720px;
      }
    }
  }
}
