@import 'src/styles/_color.scss';
@import 'src/styles/mixin';

.join{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: $white;

  .form{
    margin: 0 auto;
    padding: 20px;
    font-weight: 500;

    h1{
      font-size: 170%;
      font-weight: 500;
    }

    .item{
      width: 100%;
      height: 70px;
      display: flex;
      flex-direction: column;
      line-height: 20px;
      margin: 8% auto;
      font-size: 20px;

      label{
        margin: 10px 0;
      }

      .row{
        width: 100%;
        position: relative;
        display: flex;
        text-align: center;

        .input{
          @include input(72%);
          margin-right: 5px;

          &_password{
            @include input(100%);

            &.active{
              border: 1.5px solid $error;
              box-shadow: 0 0 2.5px 0.2px $error;
            }
          }

          &.active{
            border: 1.5px solid $error;
            box-shadow: 0 0 2.5px 0.2px $error;
          }
        }

        .showicon{
          position: absolute;
          right: 20px;
          line-height: 55px;
          font-size: 25px;
          color: $gray-400;
          cursor: pointer;
        }

        .year{
          @include input(30%);
          margin: 0 auto;
        }

        .col{
          @include input(25%);
          margin: 0 auto;
        }

        .error{
          border: 1.5px solid $error;
          box-shadow: 0 0 2.5px 0.2px $error;
        }
      }

      .btn{
        @include button(28%, none, $primary, $white, 16px);
        min-width: 70px;
      }

      .gender_btn{
        @include button(148%, 2.5px solid $gray-500, $white, $black, 18px);
        margin: 0 2px;

        &.gender_active{
          border: 2.5px solid $primary;
        }
      }
    }

    .next_btn{
      @include button(100%, none, $primary, $white, 20px);
      margin-top: 20px;
    }
  }
}
