@import '../../../styles/_color.scss';
@import 'src/styles/_mixin.scss';

.terms{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $modalBackground;
  z-index: 2;

  .form{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 15px 10px 15px;
    background-color: $white;
    border-radius: 20px 20px 0 0;
    transition: all 0.2s ease-out;
    animation: FadeIn .3s ease-in;

    h1{
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 10px;
    }
    
    .allChecked{
      margin: 0 auto;
      font-weight: 500;
      padding: 10px 0;
      font-size: 16px;
      border-bottom: 1px solid $gray-300;

      .text{
        padding: 10px;
      }
    }

    .terms_list{
      padding: 10px 0;

      .terms_bx{
        padding: 5px 0;

        .terms_item{
          position: relative;
          display: flex;

          .checkbox{
            font-size: 18px;
            padding-right: 10px;
          }

          .title{
            font-size: 14px;
          }

          .url{
            position: absolute;
            right: 0;
            font-size: 18px;
            color: $gray-600;
          }
        }
      }
    }

    .error{
      position: inherit;
      color: $orange;
      font-size: 14px;
    }
  }

  .back{
    width: 100%;
    height: 100%;
  }

  .next_btn{
    @include button(100%, none, $primary, $white, 20px);
    margin-top: 20px;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  1%{
    opacity: 0;
    transform:translateY(100%);
  }
  100% {
    opacity: 1;
  }
}

// Todo: 렌더링 이슈 해결할 것
// @keyframes FadeOut {
//   0% {
//     transform: translateY(-100%);
//   }
//   100% {
//     transform: translateY(0);
//   }
// }
