@import 'src/styles/_color.scss';

.friends-list {
  min-height: 320px;
  max-height: 320px;
  overflow: auto;
  box-shadow: inset 0 1px 10px $gray-300;

  .friend {
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 0.5px solid $gray-300;
    &:first-child {
      border-top-width: 0px;
    }
    &:last-child {
      border-bottom-width: 0px;
    }
  }
}

.added {
  border-bottom: 0.5px solid $gray-300;
  .sub-title {
    padding: 24px 15px 0;
    font-size: 18px;
    font-weight: 700;
  }

  &-friends {
    overflow-x: auto;
    display: flex;
    padding: 15px 15px 24px;
    &-li {
      margin-right: 30px;
      &:last-child {
        margin: 0;
      }
    }
  }
  .no-added {
    height: 89px;
  }
}
