@import 'src/styles/_color.scss';
@import 'src/styles/_variables.scss';
@import 'src/styles/mixin';

.requested-info {
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid $gray-250;
  padding: 0 5px;
  cursor: pointer;

  .info-list {
    display: flex;
    img {
      width: 50px;
      height: 50px;
      border-radius: 20%;
      object-fit: contain;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width: 35%;

    .comment {
      @include textOverFlow;
      font-size: 14px;
      margin-bottom: 5px;
    }
    .date {
      font-size: 12px;
      color: $gray-600;
    }
  }

  .request-btn {
    margin-left: auto;
    button {
      @include button(70px, 2px solid $primary, $primary, $white, 15px, 35px);
      cursor: pointer;
      &:first-child {
        margin-right: 5px;
      }
      &:hover {
        background-color: $white;
        color: $black;
      }
    }
  }
}
