@import 'src/styles/_color.scss';
@import 'src/styles/mixin';

.wrap {
  width: 100%;
  display: flex;
  align-items: center;
  .select-btn {
    margin: auto 0 auto auto;
    padding-right: 18px;
    font-size: 18px;
    color: $gray-450;
  }
  .selected {
    color: $primary;
  }
}
