@import '../../../styles/_color.scss';

@mixin input($width) {
  width: $width;
  height: 40px;
  padding-left: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px $gray-300;
}

@mixin button($width, $border, $bg, $color, $font-size) {
  width: $width;
  height: 45px;
  border: $border;
  border-radius: 15px;
  background-color: $bg;
  color: $color;
  font-size: $font-size;
  box-shadow: 0 0 5px 1px $gray-300;
}

.join{

  .form{
    margin: 0 auto;
    font-weight: 500;

    h1{
      font-size: 170%;
      font-weight: 500;
    }

    .item{
      width: 100%;
      height: 70px;
      display: flex;
      flex-direction: column;
      line-height: 20px;
      margin: 8% auto;
      font-size: 20px;

      label{
        margin: 10px 0;
      }

      .row{
        width: 100%;
        position: relative;
        display: flex;
        text-align: center;
      
        .input{
          @include input(72%);
          margin-right: 5px;

          &_password{
            @include input(100%);

            &.active{
              border: 1.5px solid $error;
              box-shadow: 0 0 2.5px 0.2px $error;
            }
          }

          &.active{
            border: 1.5px solid $error;
            box-shadow: 0 0 2.5px 0.2px $error;
          }
        }

        .showicon{
          position: absolute;
          right: 20px;
          line-height: 55px;
          font-size: 25px;
          cursor: pointer;
        }

        .year{
          @include input(40%);
          margin: 0 auto;
        }

        .month, .day{
          @include input(25%);
          margin: 0 auto;
        }

        .error{
          border: 1.5px solid $error;
          box-shadow: 0 0 2.5px 0.2px $error;
        }
      }

      .btn{
        @include button(28%, none, $primary, white, 16px);
        min-width: 70px;
      }

      .sex_btn{
        @include button(148%, none, $white, black, 18px);
        margin: 0 2px;

        &.sex_active{
          background-color: $primary-transparent;
          box-shadow: 0 0 5px 1px $primary;
        }
      }
    }

    .next_btn{
      @include button(100%, none, $primary, white, 20px);
      margin-top: 20px;
    }
  }
}
