@import 'src/styles/_color.scss';
@import 'src/styles/_mixin.scss';

.modal {
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: $modalBackground;

  .children {
    z-index: 3;
    width: 100%;
    max-width: 758px;
    max-height: 300px;
    padding: 25px;
    border-radius: 20px 20px 0 0;
    background-color: $white;
    @include FadeIn();
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .back {
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
