@import 'src/styles/_color.scss';

.modal {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: $modalBackground;
  z-index: 1;

  .children {
    width: 100%;
    max-width: 758px;
    max-height: 300px;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    background-color: $white;
    z-index: 3;
    transition: all 0.2s ease-out;
    animation: FadeIn 0.3s ease-in;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .back {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
}

@keyframes FadeIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
  }
}
