@import 'src/styles/_color.scss';
@import 'src/styles/_variables.scss';
@import 'src/styles/_mixin.scss';

.meeting {
  display: flex;
  // flex-direction: column;
  min-height: 60px;
  padding: 15px;
  border: 0.5px solid $gray-250;
  background-color: $white;
  :first-child,
  :last-child {
    margin: 0;
  }

  .imageList {
    display: flex;
    width: 50%;
    // max-width: 160px;
    // overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
    .profileImg {
      padding: 10px;
      font-size: 10px;
      img {
        width: 60px;
        height: 60px;
        border-radius: 40% 40% 40% 40%;
      }
    }
  }

  .meetingInfo {
    max-width: 164px;
    margin: auto 0;
    cursor: pointer;
    .kind {
      display: block;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 600;
      color: $primary;
    }
    .college,
    .num {
      display: block;
      font-size: 15px;
    }
    .college {
      margin-bottom: 5px;
      font-weight: 540;
    }
  }

  .btnBox {
    .btn {
      width: calc(50% - 5px);
      height: 30px;
      margin-top: 10px;
      border: none;
      border-radius: $borderButtonRadius;
      background-color: $gray-200;
      font-size: 15px;
      font-weight: 500;
      color: $darkmodeBackground;
      cursor: pointer;
      :hover {
        background-color: $primary;
        color: $white;
      }
      :first-of-type {
        margin-right: 10px;
      }
    }
  }
}
