@import 'src/styles/_color.scss';
@import 'src/styles/_variables.scss';
@import 'src/styles/_mixin.scss';

.meeting {
  display: flex;
  min-height: 65px;
  padding: 15px;
  align-items: center;
  border-bottom: 1px solid $gray-250;
  background-color: $white;
  cursor: pointer;
  &:last-child {
    border-bottom: none;
  }

  .meetingInfo {
    width: 50%;
    margin: auto 0;
    margin-right: 20px;
    font-size: 15px;

    .title {
      @include textOverFlow;
      display: block;
      margin-bottom: 10px;
      font-weight: 700;
    }
    .college,
    .num {
      display: block;
      font-size: 14px;
      font-weight: 300;
    }
    .college {
      @include textOverFlow;
      margin-bottom: 5px;
      font-weight: 400;
    }
  }

  .imageList {
    width: calc(50% - 20px);
    @include mobile {
      div {
        height: $boardMobileImage;
        flex-direction: row-reverse;
        .profileImg {
          img {
            width: $boardMobileImage;
            height: $boardMobileImage;
          }
          &:last-child {
            margin: 0;
          }
        }
      }
    }
    @media (min-width: #{$breakpoint-tablet}) {
      div {
        height: $boardDesktopImage;
        .profileImg {
          img {
            width: $boardDesktopImage;
            height: $boardDesktopImage;
          }
          &:first-child {
            margin: 0;
          }
        }
      }
    }
    div {
      display: flex;
      .profileImg {
        display: inline-block;
        margin-left: -20px;
        img {
          border-radius: 20%;
        }
        .alone {
          width: $boardDesktopImage;
          height: $boardDesktopImage;
        }
      }
    }
  }
}
