@import '../../../styles/_color.scss';

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 7px 0;
  border-bottom: 1px solid $gray-300;
  background: $white;

  .menus {
    display: flex;
    width: 100%;
    max-width: 758px;
    margin: 0 auto;

    &_left{
        float: left;
    }

    &_right{
        float: right;
    }
  }
}