@import '/src/styles/color';

.container {
  padding: 20px;

  .discription {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 25px;
    color: $gray-700;
  }

  .auth-number-input {
    margin-top: 30px;
  }
}
