@import '/src/styles/color';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .discription {
    text-align: center;
    line-height: 30px;
    color: $gray-500;
  }

  .inputContainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 490px;
    margin-top: 30px;

    .emailInput {
      width: 75%;
    }

    .emailAuthButton {
      width: 20%;
    }
  }

  .authNumberInput {
    margin-top: 15px;
  }

  .submit {
    margin-top: 40px;
  }
}
