@import '/src/styles/color';

.information-name {
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 700;
  color: $gray-700;
}

.information-box {
  display: flex;
  justify-content: space-between;

  .information {
    font-size: 16px;
    color: $gray-600;
  }

  .change-link {
    margin: -20px;
    padding: 20px;
    color: $primary;
  }
}
