@import 'src/styles/_color.scss';
@import 'src/styles/_mixin.scss';

.bottom-modal {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .dimmer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $modalBackground;
  }

  .out-container {
    z-index: 1;
    overflow-y: auto;
    width: 100%;
    max-width: 758px;
    max-height: 300px;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    background-color: $white;
    @include FadeUp();
    &::-webkit-scrollbar {
      display: none;
    }

    .header {
      margin-bottom: 20px;
      .close-modal {
        display: flex;
        flex-direction: row-reverse;
      }

      .title {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}
