@import 'src/styles/_color.scss';
@import 'src/styles/_variables.scss';
@import 'src/styles/_mixin.scss';

.footer {
  z-index: 99;
  @include footer();

  .menus {
    display: flex;
    width: 100%;
    max-width: 758px;
    margin: 0 auto;

    .menu {
      width: 25%;
      height: fit-content;
      min-width: 25%;
      text-align: center;
      display: block;
      cursor: pointer;

      .icon {
        height: 23px;
        font-size: 23px;
        color: $gray-500;
      }
      .text {
        font-size: 12px;
        color: $gray-500;
      }

      &.active {
        .icon {
          color: $primary;
        }
        .text {
          color: $black;
        }
      }
    }
  }
}
