@import '/src/styles/mixin';
@import '/src/styles/color';

.container {
  @include profile-card(114px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;

  .information-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 60px;
    height: 100%;
  }

  .vertical-line {
    width: 1px;
    height: 100%;
    background-color: $gray-250;
  }

  .information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
  }

  .button {
    height: 100%;
  }
}
