@import '@styles/main';

.message-input-box {
  max-width: 734px;
  display: flex;
  align-items: center;
  margin: auto;
  border: 1px solid $gray-300;
  border-radius: 22px;
  padding: 10px 12px;
  font-size: 100%;
  overflow-y: hidden;
  input[type='file'] {
    display: none;
  }

  .img-btn {
    display: flex;
    color: $black-100;
    font-size: 20px;
    cursor: pointer;
  }

  textarea {
    flex: 1 1 auto;
    height: 14px;
    margin: 0 10px;
    overflow: auto;
    font-size: 13px;

    &::-webkit-scrollbar {
      width: 6px;
      background-color: $gray-200;
    }
    &::-webkit-scrollbar-thumb {
      width: 6px;
      background-color: $gray-400;
      border-radius: 50px;
    }
  }
  button[type='submit'] {
    color: $black-100;
    font-size: 20px;
  }
}
