@import '/src/styles/mixin';
@import '/src/styles/color';

.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  .input {
    @include input(100%);
  }

  .error {
    border-bottom: 1.5px solid $red;
  }
}
