@import '/src/styles/color';
@import '/src/styles/mixin';

.container {
  height: 100vh;
  padding: 0 20px;
  background-color: $gray-50;

  .card-title {
    margin-top: 30px;
    color: $gray-600;
  }

  .card {
    margin-top: 20px;
  }

  .setting-bar {
    @include profile-card(46px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 15px;

    &:nth-child(2) {
      margin-top: 20px;
    }

    &:nth-child(3) {
      margin-top: 10px;
    }

    .title {
      color: $gray-700;
    }

    .button {
      font-size: 25px;
      color: $gray-400;
    }
  }
}
