@import '/src/styles/color';

.container {
  height: 100vh;
  padding: 0 11px;
  background-color: $gray-50;

  .card-title {
    margin-top: 30px;
    color: $gray-600;
  }

  .card {
    margin-top: 20px;
  }
}
