@import 'src/styles/_color.scss';

.friends-slides {
  position: relative;
  overflow: hidden;
  padding: 5% 8%;
  background-color: $gray-100;
  user-select: none;
  -webkit-user-select: none;
  ul {
    display: flex;
    transition: all 0.3s ease 0s;
  }

  .button-prev,
  .button-next {
    position: absolute;
    top: 45%;
    font-size: 30px;
    color: $gray-500;
  }
  .button-prev {
    left: 1%;
  }
  .button-next {
    right: 1%;
  }
}
