@import 'src/styles/_color.scss';
@import 'src/styles/mixin';

.slide-view {
  display: flex;
  margin-right: 10%;
  .profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    border-radius: $borderButtonRadius;
    box-shadow: $headerShadow;
    background-color: $white;
    .img-wrapper {
      position: relative;
      width: 200px;
      height: 200px;
      margin-right: 15px;
      @include mobile {
        width: 110px;
        height: 110px;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .basic-info {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;

      .text {
        margin-right: 5px;
        font-weight: 600;
        font-size: 20px;
        &:last-child {
          margin: 0;
        }
      }

      .gender {
        display: flex;
        font-size: 22px;
        &-male {
          color: $primary-blue;
        }
        &-female {
          color: $primary;
        }
      }
    }
  }
}
