@import 'src/styles/main.scss';

.profile-card {
  display: flex;
  padding-bottom: 15px;
  &:last-child {
    padding: 0;
  }

  .img-wrapper {
    position: relative;
    min-width: 80px;
    min-height: 80px;
    max-width: 80px;
    max-height: 80px;
    margin-right: 15px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  &-container {
    padding: 10px;
    border-radius: 0 $borderBoxRadius 0 $borderBoxRadius;
    background-color: $white;
  }
}
