@import '@styles/color';
.layout {
  overflow-y: auto;
  height: 100vh;

  .body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: auto;
    max-width: 758px;
    margin: 0 auto;
    background-color: $white;
  }
}
