@import 'src/styles/_color.scss';
@import 'src/styles/_variables.scss';

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 7px 0px;
  border-radius: $borderBoxRadius $borderBoxRadius 0 0;
  box-shadow: 0 1px 4px $shadow;
  background: $white;

  .menus {
    display: flex;
    width: 100%;
    max-width: 758px;
    margin: 0 auto;

    .menu {
      width: 25%;
      height: fit-content;
      min-width: 25%;
      text-align: center;
      display: block;
      cursor: pointer;

      .icon {
        height: 23px;
        font-size: 23px;
        color: $gray-500;
      }
      .text {
        font-size: 12px;
        color: $gray-500;
      }

      &.active {
        .icon {
          color: $primary;
        }
        .text {
          color: $black;
        }
      }
    }
  }
}
