@import '/src/styles/color';

.button {
  max-width: 80vw;
  border: none;
  border-radius: 15px;
  background-color: $primary;
  color: $white;
  box-shadow: 0 0 5px 1px $gray-300;
  cursor: pointer;
}
