@import 'src/styles/_color.scss';
@import 'src/styles/mixin';

.hobby {
  position: relative;
  height: 100%;

  .self_input {
    position: relative;

    .input {
      @include input(98%);
    }

    .plus {
      position: absolute;
      top: 0;
      right: 5px;
      line-height: 55px;
      font-size: 18px;
      color: $gray-500;
      cursor: pointer;
    }
  }
}
