@import 'src/styles/_color.scss';

.category-nav {
  position: relative;
  top: 40px;
  width: 100%;
  background-color: $white;
  box-shadow: inset 0 -1px 0 0 $gray-250;

  .tab-list {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 14px;
    font-weight: 700;

    .tab-item {
      cursor: pointer;
      padding: 0 30px;
      line-height: 40px;
    }

    .item-active {
      position: relative;

      &::after {
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: 0;
        content: '';
        background-color: $primary;
      }
    }
  }
}
