@import '@styles/main';

.footer {
  @include footer();
  display: flex;
  align-items: center;

  .button {
    @include button(calc(100% - 50px), none, $primary, $white, 20px);
    max-width: 720px;
  }
}
