@import 'src/styles/_color.scss';
@import 'src/styles/_mixin.scss';

.footer {
  @include footer();
  display: flex;
  align-items: center;

  .button {
    @include button(calc(100% - 50px), none, $primary, $white, 20px);
    max-width: 708px;
  }
}
