@import '/src/styles/color';
@import '/src/styles/mixin';

.container {
  @include border-bottom-box(30px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;

  .page-title {
    margin-left: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
  }

  .icon-container {
    margin-right: 10px;

    .icon {
      font-size: 25px;

      &:first-child {
        margin-right: 10px;
      }
    }
  }
}
