@import 'src/styles/_color.scss';
@import 'src/styles/mixin';

.phone-auth {
  padding: 20px;
  h1 {
    font-size: 24px;
    font-weight: 700;
  }

  .input-with-button {
    margin-top: 35px;
  }

  .auth-number-input-container {
    position: relative;

    .auth-number-input {
      margin-top: 35px;
    }

    .timer {
      position: absolute;
      right: 0;
      bottom: 5px;
    }
  }
}
