@import 'src/styles/_color.scss';
@import 'src/styles/_variables.scss';

.mbti-list {
  .mbti-element {
    display: flex;
    justify-content: center;
    padding: 12px 0;
    margin-bottom: 15px;
    background-color: $gray-200;
    border-radius: $borderBoxRadius;
    font-weight: 700;
    cursor: pointer;
  }
}
