@import 'src/styles/_color.scss';
@import 'src/styles/_mixin.scss';

.item {
  margin-top: 50px;
  label {
    font-size: 15px;
    color: $gray-700;
    padding: 10px 0;
  }

  .item-btn {
    margin: 10px 0;
    input {
      @include input(100%);
      color: $gray-600;
      cursor: pointer;
    }
    .mbti {
      color: $primary;
      border-bottom: 2px solid $primary;
    }
    .error {
      border-bottom: 1.5px solid $red;
    }
  }
}
