@import '../../../styles/color';
@import '../../../styles/mixin';

.search-box {
  padding: 10px;
}

.friend-bar {
  border-top: 1px solid $gray-200;

  &:last-child {
    border-bottom: 1px solid $gray-200;
  }
}
