@import '../../../styles/color';

.search-box {
  position: relative;
  padding: 20px;

  .input {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: $gray-200;
    font-size: 17px;

    &:focus {
      outline: none;
    }
  }

  .icon {
    position: absolute;
    top: calc(85px / 2 - 20px / 2);
    right: 30px;
    font-size: 20px;
  }
}
