@import 'src/styles/_color.scss';
@import 'src/styles/mixin';

.item {
  margin: 50px 0 0;
  label {
    font-size: 15px;
    color: $gray-700;
    padding: 10px 0;
  }
  .row {
    position: relative;
    display: flex;
    text-align: center;
    margin: 10px 2px;
    .year {
      @include input(30%);
      margin: 0 auto;
    }
    .col {
      @include input(25%);
      margin: 0 auto;
    }
    .error {
      border-bottom: 1.5px solid $red;
    }
  }
}
